/*remove urls*/
	a[href]:after {
		content: none !important;
	}

        @page 
        {
            size: auto;   /* auto is the current printer page size */
            margin: 0mm;  /* this affects the margin in the printer settings */
        }

        body 
        {
            margin: 0px;  /* the margin on the content before printing */
       }

#mw_portlets,
#p-cactions,
#p-personal,
#jump-to-nav,
#footer,
.mw-editsection,
.mw-editsection-like,
.noprint {
	display: none;
}
